body{
    /* margin-top: 30px;
    margin-left: 40px; */
    margin:30px auto;
     height: 80%;
     width:620px;
     /* color:brown; */
     border-bottom:7px solid #FFAFCC;
     font-family:'Times New Roman', Times, serif;
     font-weight: bold;
    
}
.photo{
    display: flex;
    align-items: center;
    gap:50px;
    width:600px;
    border:5px solid black;
    background-color: #A2D2FF;
    padding-left: 12px;
}
.self{
    height:250px;
    width:180px;
    border:10px solid CDB4DB;
}
.my{
    display:block;
    margin:0 auto;
   
}
